**/*.coffee
**/*.opts
**/*.gitignore
test/integration/statsFormatter/statsCasesFixture/**/*.txt
test/integration/statsFormatter/statsCasesFixture/**/*.css
test/integration/statsFormatter/statsCasesFixture/**/*.scss