name: Build and test mochapack

on:
  push:
    branches: [ master ]
  pull_request:

jobs:
  build:
    strategy:
      matrix:
        node: [12, 14, 16]
        mocha: [7, 8]
        webpack: [4, 5]

    name: 'Mocha ${{matrix.mocha}} w/ Webpack ${{matrix.webpack}} w/ Node.js ${{matrix.node}}.x'
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - uses: actions/cache@v2
      with:
        path: |
          ~/.yarn/berry
          ./.yarn
          ./node_modules
        key: ${{ runner.os }}-install-${{ hashFiles('yarn.lock') }}-v1

    - name: 'Use Node.js ${{matrix.node}}'
      uses: actions/setup-node@master
      with:
        node-version: ${{matrix.node}}.x

    - name: Install
      run: |
        yarn add -D webpack@${{ matrix.webpack }} mocha@${{ matrix.mocha }}

    - name: Prepare for tests
      run: |
        if [ ${{ matrix.webpack }} == 4 ]; then echo -e "// @ts-nocheck\n/*eslint-disable*/\n$(cat src/webpack/util/getAffectedModuleIds.ts)" > src/webpack/util/getAffectedModuleIds.ts; fi
        if [ ${{ matrix.webpack }} == 5 ]; then echo -e "// @ts-nocheck\n$(cat src/webpack/util/webpack4GetBuildStats.ts)" > src/webpack/util/webpack4GetBuildStats.ts; fi

    - name: Run tests
      run: |
        yarn cover

    - name: Check coverage
      run: |
        bash <(curl -s https://codecov.io/bash)
